.custom_form label {
    font-size: 2em;
    display: block;
    margin-bottom: 0.5em;
    cursor: pointer;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}

.custom_form input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
}

.custom_form label::before {
    content: url(../images/square.png);
    margin-right: .2em;
}

.custom_form input[type="checkbox"]:checked + label::before {
    content: url(../images/square-checked.png);
}
