.accordion {
    overflow: hidden; /* prevent the background-color of .accordion-nav from protruding beyond the rounded corners */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.accordion-nav {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    display: block; /* use entire width */
    padding: 1rem;
    background: #4a92f6 url(../images/chevron-down.svg) no-repeat right 1rem center; /* arrow icon as SVG background */
    background-size: 1rem auto;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

/* prevent two adjacent borders: */
.accordion-item:last-child:not(:target) .accordion-nav {
/* 'the .accordion-nav INSIDE the LAST .accordion-item when it is NOT open (= targeted)' */
    border-bottom-style: none;
}

/* change icon when accordion is open: */
.accordion-item:target .accordion-nav {
    background-image: url(../images/chevron-up.svg);
}

.accordion-content {
    padding: 0 1rem; /* remove vertical padding to completely hide content */
    overflow: hidden; /* hide content */
    max-height: 0;
    transition: all .3s ease-out; /* animate max-height and padding */
}

.accordion-item:target .accordion-content {
    padding: 1rem; /* add vertical padding */
    overflow-y: auto; /* add scrollbars to larger content */
    max-height: 20rem; /* choose your preferred height */
}
