figure, figcaption {
    padding: 0;
}

figure {
    width: 30%;
    margin-bottom: 1rem;
}

figure img {
    width: 100%; /* full width of the figure */
}

figcaption {
    font-size: .9rem;
    font-style: italic;
    margin-top: .5em;
}

.lightbox a {
    text-decoration: none;
}

.lightbox a.lightbox_close {
    display: none;
}

.lightbox {
    transition: background .4s ease-in-out;
}

.lightbox:target {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    background: rgba(0, 0, 0, .7);
    
    /* reset */
    width: auto;
    margin: 0;
}

.lightbox:target img {
    max-width: 100%;
    max-height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    margin: auto;
    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .4);
    
    /* reset */
    width: auto;
}

.lightbox:target a.lightbox_close {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    
    border: 2px solid #fff;
    background-color: #000;
    border-radius: 50%;
    
    width: 1.5rem;
    height: 1.5rem;
    padding: .1em;
    box-sizing: content-box; /* add padding to width and height */
    
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1;
    
    display: block;
}

.lightbox:target figcaption {
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    padding: 1em;
    
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    
    /* reset */
    font-size: 1rem;
    font-style: normal;
    margin: 0;
}
