figure {
    margin: 0 0 1rem 0;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    
    /* for visualisation only: */
    background-color: #666;
    border: 3px solid #c00;
}

.fit {
    
}
