* {
  margin: 0;
  box-sizing: border-box;
  font-family: #{schrift};
}

main {
  max-width: #{max-breite};
  margin: 0 auto;
  @include background-cards();
  .card {
    padding: 1rem;
    margin: 1rem 1rem 5rem 1rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
  padding-top: 5rem;
}
figure {
  margin-left: 5rem;
  margin-top: -5rem;
}

img {
  width: $size;
  height: $size;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
  outline: 2px solid lightgray;
  outline-offset: 0px;
}

