@import "variables";
@import "mixins";
@import "content";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: #{schrift};
  line-height: 1.6rem;
  padding: 40px 0;
}

main {
  max-width: #{max-breite};
  margin: 0 auto;
  @include background-cards;
  .card {
    padding: 1rem;
    margin: 1rem 1rem 5rem 1rem;
  }
}
