@mixin color-variations($bgcolor) {
  background-color: $bgcolor;
  $brightness: percentage(
    (red($bgcolor) + green($bgcolor) + blue($bgcolor)) / (255 * 3)
  );
  @if $brightness > 60 {
    color: black;
  } @else {
    color: white;
  }
}

@mixin background-cards() {
  @each $color, $value in $card-colors {
    $i: index($card-colors, ($color $value));
    $colors-count: length($card-colors);
    .colored-cards .card:nth-child(#{$colors-count}n + #{$i}) {
      background-color: transparentize($value, 0.8);
      border: 1px solid $value;
      display: flex;
      flex-direction: column;
      a {
        color: darken($value, 15%);
        text-decoration: none;
        &.button {
          @include button($value);
        }
      }
      h3 {
        color: darken($value, 15%);
        text-align: center;
      }
      img {
        display: block;
        margin: -5em auto 0 auto;
        width: $size;
        height: $size;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid white;
        outline: 2px solid $value;
        outline-offset: 0px;
      }
    }
  }
}

@mixin button($value) {
  margin-bottom: 1rem;
  margin-top: auto;
  align-self: center;
  display: inline-block;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  @include color-variations($value);
}
