/* flex container */
.flex {
    background-color: #999;
    margin-bottom: 2rem;
}

/* flex items in flex container: */
.flex article {
    background-color: #ccc;
    padding: 1rem;
    border: 1px solid #aaa;
}

.multiple_rows {
    
}

.multiple_rows article {
    margin-bottom: 2rem;
}
