@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular.woff") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-bold.woff") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-bolditalic.woff") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-italic.woff") format("woff2");
  font-weight: 400;
  font-style: italic;
}

* {
  margin: 0;
}

html {
  font-size: 100%;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 1em;
  text-align: left;
  padding: 0;
  background-color: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

small {
  font-size: 0.8rem;
}

main h1,
main p {
  margin-bottom: 1rem;
}

main h1 {
  font-size: 2em;
  font-weight: bold;
}

main p {
  line-height: 1.5em;
}

main :last-child {
  margin-bottom: 0;
}

header {
  color: white;
  height: 30rem;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: right bottom;
  position: relative;
}

@media (max-width: 1024px) {
  header {
    height: 20rem;
  }
}

#title {
  font-size: 7.5rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  letter-spacing: -0.05em;
  opacity: 0.75;
  position: absolute;
  top: 0.5rem;
  left: calc((100vw - 1025px) / 2);
    display: flex;
    align-items: center;
    gap: 1rem;
}


#title::before {
    content: "";
    background-image: url("../images/sun.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
}

@media (max-width: 1024px) {
    #title {
        font-size: 5rem;
    }
}

@media (max-width: 768px) {
    #title {
        font-size: 2.8rem;
        transform: rotate(-90deg);
        left: 1rem;
        top: 50%;
        transform-origin: left top;
    }
}