/* Basics: */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-size: 1em;
    font-family: sans-serif;
    max-width: 1024px;
    margin: 1rem auto;
}

.grid-container > * {
    font-size: 1.3rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.grid-container{
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 25% 25% 50%;
}