#circle {
    margin: 0 auto;
    padding: 0;
    background-color: #ff8bbe;
    background-image: radial-gradient(circle at 30% 25%, #ffe5f0, #ff8bbe 30%, #b72285);
    box-shadow: 0 5px 8px rgba(183, 34, 133, 0.4);
    border-radius: 50%;
    
    width: 250px;
    height: 250px;
    position: relative;
    top: 0;
    
    /*-webkit-box-reflect: below 3px -webkit-linear-gradient(transparent 35%, rgba(255, 255, 255, 0.3));
      cannot be animated independently */
    
    animation: bounce 0.7s ease-in infinite alternate;
}

@keyframes bounce {
    75% {
        transform: scaleY(1);
    }

    100% {
        top: 300px;
        transform: scaleY(0.7);
    }
}

/* reflection: */

#circle::after {
    content: "";
    position: absolute;
    top: 850px; /* top of #circle * 2 + height */
    left: 0;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    animation: bounce-inverse 0.7s ease-in infinite alternate;
    
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0) 50%);
    mask-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0) 50%);
}

@keyframes bounce-inverse {
    to {
        top: 250px;
    }
}
