:root {
    --spacer: 1rem;
    
    --primary-color: #06c;
    
    --body-color: #333;
    --body-bg: #eee;
    --body-font-family: sans-serif;
    --body-font-size: 1em;
    --body-line-height: 1.5;
    --body-max-width: 1200px;
    
    --headings-font-family: var(--body-font-family);
    --headings-font-weight: normal;
    --headings-font-style: normal;
    
    --nav-color: #fff;
    --nav-bg: var(--primary-color);
    --nav-gradient: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    --nav-opacity: .8;
    --nav-margin: calc(var(--spacer) * 2);
    
    --main-bg: rgba(255, 255, 255, .9);
    
    --border-radius: 6px;
    
    /* addendum: global variables for Dark Mode: */
    --body-color-dark: #fff;
    --body-bg-dark: #1e2025;
    --nav-bg-dark: #1e2025;
    --main-bg-dark: rgba(255, 255, 255, .1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-color: var(--body-color-dark);
        --body-bg: var(--body-bg-dark);
        --nav-bg: var(--nav-bg-dark);
        --main-bg: var(--main-bg-dark);
    }
}

/* addendum: activate Dark Mode with JavaScript: */
.dark {
    --body-color: var(--body-color-dark);
    --body-bg: var(--body-bg-dark);
    --nav-bg: var(--nav-bg-dark);
    --main-bg: var(--main-bg-dark);
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    color: var(--body-color);
    font-size: var(--body-font-size);
    font-family: var(--body-font-family);
    line-height: var(--body-line-height);
    background-color: var(--body-bg);
    max-width: var(--body-max-width);
    padding: var(--spacer);
    margin: 0 auto;
}

h1, h2, h3, h4, p {
    margin-bottom: var(--spacer);
}

h1, h2, h3, h4 {
    font-family: var(--headings-font-family);
    font-weight: var(--headings-font-weight);
    font-style: var(--headings-font-style);
}

a {
    color: var(--primary-color);
}

nav {
    color: var(--nav-color);
    display: block;
    margin-bottom: var(--nav-margin);
    background-color: var(--nav-bg);
    background-image: var(--nav-gradient);
    border-radius: var(--border-radius);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    text-align: center;
    flex-grow: 1;
}

nav li + li {
    border-left: 1px solid rgba(255, 255, 255, .5);
}

nav a {
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    padding: .75rem 1rem;
    opacity: var(--nav-opacity);
    transition: opacity .3s ease-out;
}

nav a:hover {
    opacity: 1;
}

main {
    padding: var(--spacer);
    background-color: var(--main-bg);
    border-radius: var(--border-radius);
}

/* addendum: JavaScript button: */

.toggle-dark-mode {
    text-align: right;
    margin-bottom: var(--spacer);
}

.toggle-dark-mode button {
    color: #fff;
    font-size: .9rem;
    font-family: inherit;
    display: inline-block;
    padding: .5em .75em;
    background-color: var(--primary-color);
    border: 1px solid #06c;
    border-radius: var(--border-radius);
    cursor: pointer;
}
