body {
    font-family: sans-serif;
}

.box {
    color: rgb(220, 20, 60);
    border: 2px solid rgb(220, 20, 60);
    background-color: rgba(220, 20, 60, .15);
    padding: 1rem;
    margin-bottom: 1.5rem;
}
