html {
    font-size: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #000;
    background-color: #ded7d4;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.15rem;
}

h4 {
    font-size: 1rem;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

p {
    line-height: 1.5em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

a {
    color: #e53;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}