* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    padding: 0;
}

body {
    color: #333;
    font-size: 1em;
    font-family: sans-serif;
    line-height: 1.5;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    background: #fff;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}
