body {
    display: flex; /* put .image and .text side by side */
}

.image, .text {
    padding: 1rem;
    flex: 0 0 50%;
    background-color: #fc0;
}

.text {
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    /* vertically center text: */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
    
    mix-blend-mode: multiply;
}

.text span {
    color: #fff;
    
    /* text border: */
    -webkit-text-stroke: 2px #000;
    text-stroke: 2px #000;
    
    mix-blend-mode: multiply;
}
