* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    padding: 0;
}

body {
    color: #333;
    font-size: 1em;
    font-family: sans-serif;
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    padding: 3em;
    background: #fff;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

img {
    border-style: none;
}

a {
    outline: none;
}
