html {
    font-size: 100%;
}

body {
    color: #333;
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    background-color: #fff;
    margin: 1em;
}

nav {
    color: #fff;
    display: block;
}

nav ul {
    list-style: none; /* remove bullet points */
    margin: 0;
    padding: 0; /* remove default list indent */
    display: flex; /* use a flexbox to place the li's side by side */
}

nav li {
    text-align: center;
    background-image: linear-gradient(#5f626a, #1e2025);
    flex-grow: 1; /* each li should occupy the entire available space */
}

nav li:first-child {
    border-radius: 6px 0 0 6px;
}

nav li:last-child {
    border-radius: 0 6px 6px 0;
}

nav a {
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    padding: 1em;
}
