.grid-item-1 {
    background-color: #eda113;
}

.grid-item-2 {
    background-color: #00a3ff;
}

.grid-item-3 {
    background-color: #0ba744;
}

.grid-item-4 {
    background-color: #c1169f;
}

.grid-item-5 {
    background-color: #fad107;
}

.grid-item-6 {
    background-color: #bd1212;
}
