/* visual styling only: */

.visible {
    padding: 1rem;
    min-height: 6rem;
}

/* flexbox: */

.flex-container {
    display: flex;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.flex-item {
    flex-grow: 1;
    padding: .5rem;
    /* border: 2px dotted #4390e1; */
}

/* fixed width items: */

.container-with-fixed-width-items .flex-item {
    flex: 0 0 20%;
    display: flex; /* inner flexbox */
}

.container-with-fixed-width-items .flex-item .visible {
    flex-grow: 1;
}
