/* visual styling only: */

.visible {
    padding: 1rem;
    min-height: 6rem;
}

/* flexbox: */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.flex-item {
    flex: 0 0 50%;
    padding: .5rem;
}

.flex-item:nth-child(3n) {
    flex-basis: 100%;
}
