.square {
  width: 10rem;
  height: 10rem;
  background-color: #eee;
  margin: 1rem;
  float: left; /* place next to each other */
}

.first {
  color: red;
  border-style: solid;
  border-width: 0.5rem;
}

.second {
  color: blue;
  border-width: 0.5rem;
  border-top-style: dashed;
  border-left-style: double;
  border-bottom-style: dashed;
  border-right-style: double;
}

.third {
  color: green;
  border-width: 1.5rem;
  border-left-style: dotted;
}

.fourth {
  color: orange;
  border-style: groove;
  border-width: 1.5rem;
}

.fifth {
    border-bottom: purple;
    border-right: gray;
    border-right-width: 1rem;
    border-bottom-width: 1.5rem;
    border-style: solid;
    border-top-style: none;
    border-left-style: none;
}
