.gallery {
  max-width: 700px;
  
}

.gallery figure {
  margin: 1em;
  display: flex;
  height: 12rem;
  color: white;
  background-color: #1f232a;
  border-radius: 5px;
  overflow: hidden;
}

.gallery a {
  flex: 0 0 40%;
}

.gallery a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

figcaption {
  padding-left: 1rem;
  align-self: center;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
