* {
    box-sizing: border-box;
    
}

html {
    font-size: 100%;
}

p:not(:last-child) {
    margin-bottom: 1rem;
}

.box {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    
    width: 70%;
    margin: 0 auto;
    padding: 0 1.25rem 1.25rem 1.25rem;
}

.box_heading {
    color: #fff;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    
    font-size: 1.5rem; /* should fit into the ribbon */
    line-height: 1.5em; /* vertically center text inside the ribbon */
    margin: 0 0 1rem -1.8rem; /* ribbon protrudes from the left border of the box */
    padding-right: 1.375rem; /* width of ribbon_right.png (22px) */
    
    background: url(../images/ribbon_right.png) no-repeat right top;
    background-size: auto 100%;
    
    width: -webkit-calc(100% + 1.25rem + 1.8rem + 1.375rem);
    width: -moz-calc(100% + 1.25rem + 1.8rem + 1.375rem);
    width: calc(100% + 1.25rem + 1.8rem + 1.375rem);
        /* width of the container
         + 1.25rem padding of the container
         + 1.8rem margin-left of .box_heading
         + 1.375rem width of ribbon_right.png */
}

.box_heading span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    display: block;
    padding-left: 1.8rem; /* compensate negative margin-left of .box_heading */
    height: 3.0625rem; /* height of the PNGs (49px) */
    
    background: url(../images/ribbon_left.png) no-repeat;
    background-size: auto 100%;
}
