* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: black;
  padding: 1rem 2rem 2rem 2rem;
  text-align: left;
}

h1 {
  font-size: 5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: chocolate;
  font-weight: bold;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 1400px;
}

header {
  margin-bottom: 5rem;
}

#puzzle-area {
  position: relative;
  width: 100%;
  height: 933px;
  background-image: url(../img/puzzle-01.jpg);
  background-size: cover;
}

.puzzle-piece {
  position: absolute;
}

#puzzle-piece-01 {
  transform: rotate(90deg);
  top: -192px;
  left: 192.5px;
}

#puzzle-piece-02 {
  top: 299.5px;
  left: 0px;
}

#puzzle-piece-03 {
  transform: rotate(-90deg);
  bottom: 0px;
  left: 0px;
}
#puzzle-piece-04 {
  top: 549px;
  left: 57px;
}

#puzzle-piece-05 {
  bottom: 0px;
  left: 726px;
}

#puzzle-piece-06 {
  bottom: 0px;
  left: 383px;
}
#puzzle-piece-07 {
  bottom: 0px;
  left: 382px;
}

#puzzle-piece-08 {
  transform: rotate(-180deg);
  transform: scaleY(-1);;
  top: 300px;
  right: 0px;
}

#puzzle-piece-09 {
  top: 0px;
  right: 0px;
}

#thumbs-area {
    width: 100%;              
    margin: 2rem auto 0;        
    display: flex;            
    justify-content: space-between; 
    align-items: center;     
}

#thumbs-area img {
    width: 300px;             
    height: auto;            
    display: block;
}