* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    padding: 0;
}

body {
    color: #333;
    font-size: 1em;
    font-family: sans-serif;
    line-height: 1.5;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    background: #fff;
}

header, footer, main, nav, article, section, aside, figure, figcaption, details, summary {
    display: block;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

img {
    border-style: none;
}

a {
    outline: none;
}

/* assign a margin to all paragraphs except the last one: */
p:not(:last-child) {
    margin-bottom: 1rem;
}
