.accordion {
    overflow: hidden; /* prevent the background-color of .accordion-nav from protruding beyond the rounded corners */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.accordion-nav {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    display: block; /* use entire width */
    padding: 1rem;
    background: #4a92f6 url(../images/chevron-down.svg) no-repeat right 1rem center; /* arrow icon as SVG background */
    background-size: 1rem auto;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

/* prevent two adjacent borders: */
.accordion-item:last-child:not(:target) .accordion-nav {
/* 'the .accordion-nav INSIDE the LAST .accordion-item when it is NOT open (= targeted)' */
    border-bottom-style: none;
}

.accordion-content {
    padding: 1rem;
}
