@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/static/Montserrat-LightItalic.woff2');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/static/Montserrat-Light.woff2');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/static/Montserrat-Regular.woff2');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/static/Montserrat-BoldItalic.woff2');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/static/Montserrat-Bold.woff2');
  font-style: normal;
  font-weight: 700;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

em,
i {
  font-style: italic;
}

h1,
h2,
strong,
b {
  font-weight: bold;
}

input,
textarea,
select {
  -webkit-appearance: none; /* Setzt die voreingestellten Eigenschaften zurück */
  appearance: none; /* Setzt die voreingestellten Eigenschaften zurück */
}

select {
  outline: none; /* Setzt die voreingestellte Außenlinie von select zurück */
}

/* Selektor für den Punkt der Auswahlliste, der keine gültige Auswahl ist. Dieser soll die Standard-Schriftfarbe erhalten. */

select:invalid {
  color: #2e2f49;
}

body {
  color: black;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  background-color: black;
  padding: 0em;
  margin: 0em;
  text-align: left;
}

section {
  height: 95vh;
  display: block;
  width: 700px;
  background-image: url(../img/max-bender-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3rem auto;
}

#form_wrapper {
  height: 100%;
  width: 100%;
  background-color: rgba(90, 93, 135, 0.7);
  backdrop-filter: 2px;
}

#logo {
  display: block;
  margin: auto;
  padding-top: 2rem;
  width: 6rem;
}

form {
  padding-top: 2.5rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 3rem;
}

ul {
  width: 90%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

li {
  margin-bottom: 1.5rem;
}

input,
textarea,
select {
  background-color: rgba(255, 255,255,0.2);
  color: white;
  font-size: 1.2rem;
  border: none;
}

textarea {
  height: 150px;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  width: 100%;
  border-radius: 25px;
  text-align: center;
  padding: 0.3rem 1rem;
}

::placeholder {
  color: rgba(0,0,0,1);
  font-size: inherit;
  font-family: inherit;
}

input[type="radio"] {
  appearance: none; 
  height: 20px;
  width: 20px;
  border-radius: 50px;
  margin-right: 0.5rem;
  float: left;
}

input[type="radio"] + label:not(:last-of-type) {
  float: inline-start;
  margin-right: 1rem;
}

input[type="checkbox"] {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  float: left;
}

input[type="checkbox"] + label {
  color: white;
  text-align: justify;
  hyphens: auto;
  line-height: 1.5rem;
  margin-left: 2.5rem;
  display: block;
}

input[type="submit"] {
  background-color: white;
  color: inherit;
  line-height: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: 1px solid white;
}

input[type="radio"]:checked {
  background-color: white;
}

input[type="checkbox"]:checked {
  background-color: white;
}

input[type="radio"]:checked + label {
  color: white;
}

input[type="checkbox"]:checked + label {
  color: white;
}

input[type="submit"]:hover{
  background-color: #2e2f49;
  color: white;
}

li:last-of-type{
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: right;
}