header {
  display: block;
  .navbar {
    border-bottom: 1px solid #dee2e6;
    background-color: #007bff;
    a {
      text-decoration: none;
    }
    .navbar-logo {
      max-width: 25%;
      > a {
        color: inherit;
        display: block;
      }
      .navbar-logo-text {
        font-family: OpenSansCondensed;
        font-size: 1.3rem;
        white-space: nowrap;
      }
    }
    .nav-link {
      color: #fff;
      &::after {
        content: "\25be";
      }
    }
  }
}
