html {
    font-size: 100%;
}

body {
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    background-color: #fed792;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

a {
    color: #f60;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.button_link {
    color: #a00000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 37px; /* "center" vertically */
    width: 210px;
    height: 45px;
    display: block; /* prerequisite for width and height */
    
    /*background-image: url(images/button.png);*/ /* alternative with two separate images */
    background-image: url(images/button_sprite.png);
    background-repeat: no-repeat;
}

a.button_link:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    
    /*background-image: url(images/button_over.png);*/ /* alternative with two separate images */
    background-position: left bottom; /* background-sprite is simply moved */
}

a.button_link_css {
    color: #a00000;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
    width: 13em;
    height: 2em;
    display: block;
    border: 2px solid #ffa736;
    
    background-color: #ffc200;
    background-image: linear-gradient(#ff8300, #fff, #ff8300, #ffe100);
    
    border-radius: 0.4em;
    box-shadow: 0 4px 5px rgba(255, 167, 54, 0.5);
}

a.button_link_css:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-color: #dc0aad; /* only the colour should change */
    
    background-color: #e7108d;
    background-image: linear-gradient(#d70fb3, #fff, #d70fb3, #e7108d);
    
    box-shadow: 0 4px 5px rgba(231, 16, 141, 0.5);
}
