.content {
    > h1 {
        font-family: $serif-fonts;
        font-weight: normal;
        font-style: italic;
    }
    
    p {
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

.sidebar {
    h1 {
        font-size: 1.1rem;
    }
    
    input[type="search"] {
        margin-bottom: 1rem;
    }
}
