input[type="search"] {
    color: $body-color;
    font-family: inherit;
    font-size: inherit;
    line-height: 1;
    padding: 0.25em 0.35em;
    width: 100%;
    background-color: #fff;
    border: 1px solid $grey;
    border-radius: $border-radius;
    outline: none;
    transition: all 0.2s ease-out;
    
    &:focus {
        background-color: mix(#fff, $highlight-color, 95%);
        border-color: $highlight-color;
    }
}
