//Colors:
$blue: #007bff;
$orange: #fd7e14;
$grey-light: #f8f9fa;
$grey: #ced4da;
$grey-dark: #343a40;

$body-color: $grey-dark;
$highlight-color: $blue;

//Fonts:
$base-fonts: OpenSans, Helvetica, Arial, sans-serif;
$serif-fonts: Georgia, Times, serif;

//Sizes:
$body-max-width: 1400px;
$sidebar-width: 25%;
$border-radius: 5px;

//Breakpoints:
$breakpoint-small:  420px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
