* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(to bottom, #666, #111) fixed;
}

body {
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;
    width: 90%;
    margin: 2rem auto 0 auto;
    padding: 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    
    font-size: calc(1rem + .5vw);
}

h1, p {
    margin-bottom: calc(1rem + .5vw);
}

h1 {
    font-size: calc(1.2rem + 3vw);
}
