/* basics: */

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    background-color: #ded7d4;
    width: 80%;
    margin: 1.5rem auto;
}

/* display HTML5 elements as block level elements: */
header, main, nav, aside, article, footer, figure, figcaption {
    display: block;
    padding: 0;
}

h1 {
    font-weight: normal;
    margin-bottom: 1rem;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

a {
    color: #e53;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 1rem;
    text-align: justify;
    
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

ul {
    margin-bottom: 1rem;
}

/* content: */

aside,
article {
    background-color: #fff;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.options {
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem;
}
