* {
  margin: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 1rem auto 0;
  min-width: 600px;
  max-width: 2000px;
  background: #adb7c3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #333;
}

main {
  border: #333 1px solid;
  background: white;
  padding: 2rem;
}

main a {
  color: #3075d8;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

main h1,
main h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem auto 0.5rem auto;
}

nav {
  background: linear-gradient(#82b3fc, #3277d9);
  border: 1px solid #333;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav > ul > li {
  position: relative;
  flex: 1;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  padding: 1rem;
}

nav > ul > li:hover {
  background: rgba(0, 0, 0, 0.2);
}

ul ul {
  display: none;
  position: absolute;
  width: 100%;
  background: rgba(142, 155, 171, 0.9);
  padding: 0;
}

ul ul a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
  padding: 0.5rem;
  line-height: 2rem;
}

ul ul li:hover {
  background-color: #637083;
  white-space: nowrap;
}

nav > ul > li:hover ul {
  display: block;
}

nav > ul > li > ul > li {
  list-style: none;
  border-bottom: white 1px solid;
}


nav > ul > li > ul > li:last-child {
  border-bottom: none;
}