* {
    margin: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 80%;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
    min-width: 600px;
    max-width: 2000px;
    background-color: #adb7c3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #333;
}

main {
    border: #333 1px solid;
    background-color: white;
    padding: 2rem;
}
