body {
    max-width: 1100px;
    min-height: 100vh;
    margin: 0 auto;
}

/* all grid items: */
body > * {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

header {
    background-color: #eda113;
}

aside {
    background-color: #0ba744;
}

footer {
    background-color: #c1169f;
}

main {
    background-color: #00a3ff;
}
