/* variables: */

:root {
    --base-color: #333;
    --highlight-color: #e53; /* = rgb(238, 85, 51) */
    --border-color: #666;
    --bg-dark: rgba(33, 34, 37, 0.9);
    
    --base-font: Raleway, Helvetica, Arial, sans-serif;
    --heading-font: Rokkitt, Georgia, Times, serif;
    
    --box-padding: 1.5rem;
    
    --transition-duration: .3s;
    --bg-blur: blur(15px);
}

/* fonts: */

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway/raleway-regular.woff) format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway/raleway-italic.woff) format("woff");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway/raleway-bold.woff) format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway/raleway-bold-italic.woff) format("woff");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: Rokkitt;
    src: url(../fonts/rokkitt/rokkitt-regular.woff) format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Rokkitt;
    src: url(../fonts/rokkitt/rokkitt-bold.woff) format("woff");
    font-style: normal;
    font-weight: bold;
}

/* basics: */

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    color: var(--base-color);
    font-family: var(--base-font);
    font-size: 1em;
    line-height: 1.6em;
    background-color: #ded7d4;
}

/* display HTML5 elements as block level elements: */
header, main, nav, aside, article, footer, figure, figcaption {
    display: block;
    padding: 0;
}

h1 {
    font-family: var(--heading-font);
    font-weight: normal;
    margin-bottom: 1rem;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

a {
    color: var(--highlight-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 1rem;
    text-align: justify;
    
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

ul {
    margin-bottom: 1rem;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* header: */

header {
    font-family: var(--heading-font);
    color: #fff;
    background-color: var(--bg-dark);
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
    z-index: 1; /* put the header in front of the banner */
    display: flex;
    
    -webkit-backdrop-filter: var(--bg-blur);
    backdrop-filter: var(--bg-blur);
}

header a {
    color: inherit;
}

header a:hover {
    text-decoration: none;
}

#logo {
    text-align: center;
    width: 11rem;
    padding: 1rem;
    border-right: 1px solid var(--border-color);
}

#logo a {
    display: block;
}

#logo img {
    width: 50%;
}

#logo figcaption {
    font-size: 1.5rem;
    white-space: nowrap;
    letter-spacing: -0.03em;
}

#menu {
    flex-grow: 1;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#menu li {
    padding: 0 1rem;
}

#menu nav:first-child {
    font-size: 1.2rem;
    padding: 1rem 0;
}

#menu nav:first-child ul {
    justify-content: flex-end;
}

#menu nav:last-child {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.5rem 0;
}

/* highlighted link in the main menu: */
#menu a.sale {
    background-color: var(--highlight-color);
    padding: .3em 1em;
    border-radius: 2em;
}

@media (min-width: 1024px) {
    #menu nav:first-child {
        border-bottom: 1px solid var(--border-color);
    }
    
    #menu nav:last-child .close_menu {
        display: none;
    }
}

@media (max-width: 1023px) {
    #logo {
        width: 7rem;
        padding: 1rem .5rem .5rem .5rem;
    }
    
    #logo img {
        width: 70%;
    }
    
    #logo figcaption {
        font-size: 1rem;
    }
    
    /* menu button: */
    #menu nav:last-child {
        padding: 0;
        margin: .5rem 1rem 0 0;
        float: right;
    }
    
    /* menu icon
    (alternatively, background-image would also be possible): */
    #menu nav:last-child::before {
        /*content: "\2261"; without Font Awesome */
        content: "\f0c9";
        font-size: 2rem;
        text-align: center;
        display: block;
        cursor: pointer;
        
        /* taken over from Font Awesome: */
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
    }
    
    /* off-canvas menu: */
    #menu nav:last-child ul {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        min-width: 40%;
        max-width: 100%;
        display: block; /* reset display:flex */
        background-color: var(--bg-dark);
        visibility: hidden;
        
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        
        transform: translate3d(100%, 0, 0);
        transition: transform var(--transition-duration) ease-out,
                    box-shadow var(--transition-duration) ease-out,
                    visibility 0s ease-out var(--transition-duration);
    }
    
    #menu nav:last-child ul.visible {
        box-shadow: -9999px 0px 0px 9999px rgba(0, 0, 0, 0.6);
        visibility: visible;
        transform: translate3d(0, 0, 0);
        transition: transform var(--transition-duration) ease-out,
                    box-shadow var(--transition-duration) ease-out;
    }
    
    #menu nav:last-child li {
        padding: 0;
    }
    
    /* separator lines for the list items except for the first one: */
    #menu nav:last-child li + li {
        border-bottom: 1px solid var(--border-color);
    }
    
    #menu nav:last-child .close_menu {
        text-align: right;
    }
    
    #menu nav:last-child .close_menu button {
        color: inherit;
        font-size: inherit;
        padding: 1rem;
        border-style: none;
        background: none;
        cursor: pointer;
    }
    
    #menu nav:last-child a:not(.sale) {
        display: block;
        padding: 1rem;
    }
    
    #menu a.sale {
        display: inline-block;
        margin: 1rem 0.5rem;
    }
}

/* optional: blur elements behind the off-canvas menu: */
@media (max-width: 1023px) {
    #menu nav:last-child ul {
        -webkit-backdrop-filter: var(--bg-blur);
        backdrop-filter: var(--bg-blur);
    }
}
/* browser hack: exclude Chrome (graphic bug with backdrop-filter) from backdrop-filter (see http://browserhacks.com): */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
    #menu nav:last-child ul {
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
    }
}

@media (max-width: 700px) {
    #menu nav:first-child span {
        display: none;
    }
}

@media (max-width: 479px) {
    #menu nav:last-child ul {
        min-width: 90%;
    }
}

/* banner: */

#banner {
    color: #fff;
    height: 0;
    box-sizing: content-box;
    padding: 0 0 66% 0; /* aspect ratio 66% of the width of banner.jpg */
    margin-bottom: 3rem;
    background: url(../images/banner.jpg) no-repeat;
    background-size: cover;
    position: relative; /* because of the text div */
}

#banner div {
    padding: 5.5vw 4vw;
    position: absolute;
    left: 0;
    bottom: 0;
}

#banner h1,
#banner p {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#banner h1 {
    font-size: 7vw;
    margin-bottom: .6em;
}

#banner p {
    font-size: 4vw;
    margin-bottom: 1.5em;
}

#banner a {
    color: inherit;
    font-size: 3vw;
    text-decoration: none;
    padding: .5em 2em;
    background-color: rgba(0, 0, 0, 0.1);
    border: 3px solid #fff;
    border-radius: 1.5em;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
        /* the filter affects all transparent areas, not only the box */
    transition: background-color .2s ease-out;
}

#banner a:hover {
    background-color: rgba(238, 85, 51, 0.8);
}

@media (max-width: 600px) {
    #banner h1 {
        font-size: 10vw;
        margin-bottom: .4em;
    }
    
    #banner p {
        font-size: 6vw;
        margin-bottom: 1em;
    }
    
    #banner a {
        font-size: 5vw;
        padding: .3em 1em;
    }
}

/* content: */

#content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}

aside,
article {
    background-color: #fff;
    margin-bottom: 2rem;
}

article {
    padding: var(--box-padding) var(--box-padding) 6rem var(--box-padding);
        /* padding-bottom creates space for the buttons */
    position: relative; /* prerequisite for position:absolute of the buttons */
}

aside {
    padding: 1.5rem;
}

@media (min-width: 1024px) {
    aside {
        width: 24%;
        float: right;
        
        position: -webkit-sticky;
        position: sticky;
        top: 10rem;
    }
    
    main {
        width: 74%;
        float: left;
    }
}

@media (min-width: 480px) and (max-width: 1023px) {
    aside {
        display: flex;
    }
    
    aside > div {
        flex-grow: 1;
    }
}

figure img {
    width: 100%;
}

article figcaption {
    font-weight: bold;
    text-align: center;
}

.product_image_left,
.product_image_right {
    margin-bottom: 1em;
}

@media (min-width: 480px) {
    article figure {
        width: 30%;
    }
    
    .product_image_left {
        float: left;
        margin-right: 1.5em;
    }
    
    .product_image_right {
        float: right;
        margin-left: 1.5em;
    }
}

a.button_link {
    color: var(--base-color);
    text-align: center;
    text-decoration: none;
    display: block;
    width: 10em;
    border: 2px solid var(--base-color);
    padding: .5em 1em;
    border-radius: 6px;
    transition: all .3s ease-out;
    
    position: absolute;
    bottom: var(--box-padding);
    right: var(--box-padding);
}

a.button_link:hover {
    color: #fff;
    border-color: var(--highlight-color);
    background-color: var(--highlight-color);
}

.options {
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem;
}

ul.product_list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.product_list li {
    padding: 1rem;
    /*flex-basis: 15rem;*/
    width: 100%;
}

@media (min-width: 600px) {
    .product_list li {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .product_list li {
        width: 33.33%;
    }
}

.product_list img {
    display: block; /* remove gap between img and figcaption */
}

.product_list a {
    display: block;
    color: #fff;
    transition: transform .3s ease-out;
}

.product_list a:hover {
    text-decoration: none;
    transform: scale(1.04);
}

.product_list figcaption {
    text-align: left;
    padding: 1rem;
    background-color: var(--bg-dark);
}

.product_list figcaption b {
    display: block;
    font-size: 1.3rem;
}

/* footer: */

footer {
    color: #fff;
    text-align: center;
    background-color: var(--bg-dark);
    padding: 1.5rem;
}

footer a {
    color: inherit;
}

footer a + a::before {
    content: "|";
    margin-left: .3em; /* there is already a space in HTML */
    margin-right: .5em;
}
